<!DOCTYPE html>
<html ng-app="TonFaceJS">
    <head>
        <title>TonFaceJS</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- Frameworks -->
        <script type="text/javascript" src="js/sdk/jq.min.js"></script>
        <script type="text/javascript" src="js/sdk/angular.min.js"></script>
        <script type="text/javascript" src="js/tonface.js"></script>
        <!-- /Frameworks -->
    </head>
    <body ng-controller="AcoesFBCtrl" ng-init="SetUp()">
        <!-- inicialização FB -->
        <div id="fb-root"></div>

    	<div id="acoes_fb">
            <button ng-click="AssinarApp()">Logar FB</button>
    	</div>

        <div id="resultado_fb" style="display: none;">
            <button ng-click="LogOut()">Desconectar FB</button>
        </div>

        <div>
            <button ng-click='PubMural()'> Publicar no Mural </button>
        </div>
    	
        <footer id="includes_js">
        	<!-- Meus JS -->
        	<script type="text/javascript" src="js/app/base_app_angular.js"></script>
        	<script type="text/javascript" src="js/app/exemp_app.js"></script>
        	<!-- /Meus JS -->
        </footer>
    </body>
</html>
